.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 15px;
  margin-bottom: 20px;
}

.header-menu__wrap {
  display: flex;
  align-items: center;
}